<%= simple_form_for [@course, @assignment] do |f| %>
  <%= f.input :title %>
  <%= f.input :body, as: :text,
                     class: "textarea" %>
  <div class="due_date">
  <%= f.input :due_date, as: :date,
                         start_day: Date.today,
                         start_year: Date.today.year,
                         end_year: Date.today.year + 1,
                         order: [:month, :day, :year],
                         include_blank: true %>
  </div>
  <%= f.submit class: "button" %>
<% end %>
