<h1><%= @assignment.title %></h1>

<ul class="inline-list">
  <% if user_signed_in? && current_user.admin? %>
    <li><%= link_to "Edit Assignment", edit_course_assignment_path(@assignment.course, @assignment) %></li>
    <li><%= link_to "Delete Assignment", course_assignment_path(@assignment.course, @assignment),
                                         method: :DELETE %></li>
  <% end %>
</ul>

<h3><%= link_to @assignment.course.name, course_path(@assignment.course) %>
 <small><%= @assignment.course.number %></small></h3>
<h3>Due <%= @assignment.due_date.strftime("%b %-d, %Y") %></h3>
<p><%= @assignment.body.html_safe %></p>

<% if enrolled(@assignment.course) %>
    <h3>Submission</h3>
  <% if @submission.body %>
    <div class="panel">
    <p><%= @submission.body.html_safe %></p>
    <%= link_to "Update Submission",
      edit_course_assignment_submission_path(@assignment.course,
                                             @assignment,
                                             @submission) %>
    </div>
  <% else %>
    <%= simple_form_for [@assignment.course, @assignment, @submission] do |f| %>
      <%= f.input :body, as: :text, class: "textarea" %>
      <%= f.submit class: "button" %>
    <% end %>
  <% end %>
<% end %>
