<h2>Sign up</h2>

resource.student.build
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :name %>
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :username %>
  <small>Required</small>
  <%= f.text_field :username, autofocus: true %></div>

  <div><%= f.label :email %>
  <small>Required</small>
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %>
    <% if @validatable %>
      <small><%= @minimum_password_length %> characters minimum</small>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <%= f.fields_for :student, method: 'create' do |s| %>
  <div>
      <%= s.label :date_of_birth %>
      <%= s.date_select :date_of_birth,
          start_year: (Time.now.year - 15),
          end_year: (Time.now.year - 65),
          include_blank: true  %>
  </div>
  <div>
      <%= s.label :bio, "About" %>
      <%= s.text_area :bio %>
  </div>
  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
