<%= simple_form_for @student do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :date_of_birth,
        start_year: (Time.now.year - 15),
        end_year: (Time.now.year - 65),
        order: [:month, :day, :year],
        include_blank: true %>
    <%= f.input :bio, label: "About" %>
    <p>Sign up with <a href="http://en.gravatar.com/">Gravitar</a> to set your profile picture.</p>
    <%= f.button :submit %>
<% end %>
