<div class="row">
  <!-- Profile -->
  <div class="column">
      <div class="small-3 column">
        <ul class="no-bullet">
          <li class="text-center"><img src="<%= @student.avatar_url %>"></li>
          <li class="text-center">@<%= @student.username %></li>
          <li class="text-center"><%= @student.name %></li>
          <li class="text-center"><%= @student.ribbits.size %> Ribbits</li>
        </ul>
      </div>
      <div class="small-11"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  <!-- end of Profile -->
  </div>
  <div class="small-12 medium-6 large-6 column right">
    <% if @student == current_user %>
    <h2 class="text-center">My Courses</h2>
    <!-- course list -->
      <div class="panel">
        <h3>Course Name<br>
        <small>Course Number</small></h3>
      <!-- assignments -->
        <!-- due (unfinished) -->
          <table>
            <tr>
              <th>assignment</th>
              <th>due date</th>
            </tr>
            <tr>
              <td>assignment 1</td>
              <td>date</td>
            </tr>
            <tr>
              <td>assignment 2</td>
              <td>date</td>
            </tr>
            <tr>
              <td>assignment 3</td>
              <td>date</td>
            </tr>
          </table>
        <!-- completed -->
          <table>
            <tr>
              <td>assignment 1</td>
              <td>completed</td>
            </tr>
            <tr>
              <td>assignment 2</td>
              <td>completed</td>
            </tr>
            <tr>
              <td>assignment 3</td>
              <td>completed</td>
            </tr>
          </table>
        <% end %>
      </div>
  <!-- end of Course information -->
  </div>
  <!-- Ribbit Feed -->
  <div class="small-12 medium-6 large-6 column left">
    <% if @student.ribbits.size > 0 %>
      <h2 class="text-center">My Ribbits</h2>
    <% end %>
    <% if @student == current_user %>
        <p>
          <%= form_for @ribbit do |f| %>
            <%= f.text_area :content %>
            <%= f.submit "Ribbit!", class: "button" %>
          <% end %>
        </p>
    <% end %>
    <% @student.ribbits.each do |ribbit| %>
      <div class="3-small panel radius">
        <ul class="no-bullet">
          <li><%= ribbit.content %></li>
          <li><small><%= time_ago_in_words(ribbit.created_at) %> ago</small></li>
        </ul>
      </div>
    <% end %>
  <!-- end of Ribbit Feed -->
  </div>
  <!-- Course information -->

</div>
