<div class="row">
  <!-- Profile -->
  <div class="column">
      <div class="small-3 column">
        <ul class="no-bullet">
          <li class="text-center">
            <img src="<%= @user.avatar_url %>">
          </li>
          <li class="text-center">@<%= @user.username %></li>
          <li class="text-center">
            <%= @user.ribbits.size %> Ribbits
          </li>
        </ul>
      </div>
      <div class="small-11">
        <ul class="inline-list">
          <li><%= @student.full_name %></li>
          <li><% if @student.date_of_birth %>
            <%= @student.birthday %>
            <% end %> </li>
        </ul>
        <p>
          <% if !@student.bio || @student.bio == "" %>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
          <% else %>
            <%= @student.bio %>
          <% end %>
        </p>
      <% if @user == current_user %>
        <%= link_to "Update Profile", edit_student_path(current_user) %>
      <% end %>
    </div>
  <!-- end of Profile -->
  </div>
<% if @user == current_user %>
  <div class="small-12 medium-6 large-6 column right">    <h2 class="text-right">My Courses</h2>
    <!-- course list -->
      <div class="panel">
        <h3>Course Name<br>
        <small>Course Number</small></h3>
      <!-- assignments -->
        <!-- due (unfinished) -->
          <table>
            <tr>
              <th>assignment</th>
              <th>due date</th>
            </tr>
            <tr>
              <td>assignment 1</td>
              <td>date</td>
            </tr>
            <tr>
              <td>assignment 2</td>
              <td>date</td>
            </tr>
            <tr>
              <td>assignment 3</td>
              <td>date</td>
            </tr>
          </table>
        <!-- completed -->
          <table>
            <tr>
              <td>assignment 1</td>
              <td>completed</td>
            </tr>
            <tr>
              <td>assignment 2</td>
              <td>completed</td>
            </tr>
            <tr>
              <td>assignment 3</td>
              <td>completed</td>
            </tr>
          </table>

      </div>
  <!-- end of Course information -->
  </div>
  <!-- Ribbit Feed -->
  <div class="small-12 medium-6 large-6 column left">
  <% else %>
  <div class="small-12 column">
        <% end %>

    <% if @user.ribbits.size > 0 || @user == current_user %>
      <h2 class="text-left">My Ribbits</h2>
    <% end %>
    <% if @user == current_user %>
        <p>
          <%= form_for @ribbit do |f| %>
            <%= f.text_area :content %>
            <%= f.submit "Ribbit!", class: "button" %>
          <% end %>
        </p>
    <% end %>
    <% @user.ribbits.each do |ribbit| %>
      <div class="3-small panel radius">
        <ul class="no-bullet">
          <li><%= ribbit.content %></li>
          <li>
            <small><%= time_ago_in_words(ribbit.created_at) %> ago</small>
          </li>
          <% if ribbit.user == current_user %>
            <li>
              <%= link_to "Delete", ribbit_path(ribbit),
                                    method: :DELETE %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <!-- end of Ribbit Feed -->
  </div>
  <!-- Course information -->
</div>
