<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Dr Pulver" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header class="header-area">
      <section class="left">
        <a href="/"><%= image_tag "drp.png" %></a>
      </section>
      <nav class="top-nav" data-topbar role="navigation">
      <section>
        <ul class="inline-list right">
          <% if user_signed_in? %>
          <li>
            <%= link_to 'Courses', courses_path %>
          </li>
            <% if current_user.admin? %>
              <li>
                <%= link_to "Assignments", assignments_path %>
              </li>
              <li>
                <%= link_to "Students", students_path %>
              </li>
            <% end %>
          <li>
            <%= link_to 'Ribbits', ribbits_path %>
          </li>
          <li>
            <%= link_to 'My Profile', student_path(current_user) %>
          </li>

          <% end %>
          <li>
            <%= render 'devise/menu/login_items' %></li>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <div class="row">
    <div class="column inside-column">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    </div>
    </div>
  </body>
</html>
